In [ ]:
# importing necessary library
import pymongo as py
import pandas as pd

In [ ]:
# connecting cluster to the client(python texteditor)
client = py.MongoClient('mongodb+srv://mongodb:mongodb@cluster0.40vqzc7.mongodb.net/?retryWrites=true&w=majority')

In [ ]:
# listing database names
client.list_database_names()

### Importing documents into database

In [ ]:
# reading data from json using pandas
df = pd.read_json('~/Desktop/students.json',lines=True)
df

In [ ]:
# changing dataframe to dictionary format
data = df.to_dict(orient = 'records')

In [ ]:
# creating a database and a collection
db = client['students']
collection = db['details']

In [ ]:
# inserting record into the details collection
collection.insert_many(data)

In [ ]:
list(collection.find())

# 1. Students who scored maximum scores in all (exam,quiz and homework)

In [ ]:
# max_marks_agg id a cursor to the documents containing max marks for each type of exam
max_marks_per_type = collection.aggregate([
                            {'$unwind' : '$scores'}, # deconstructing a array field and creating documents with each array element
                            {'$group' : {'_id': '$scores.type','max_marks':{'$max':'$scores.score'}}}, #group based of the type of exam and finding max marks in it
                        ])
# max_marks_per_type -output = exam type and max marks only

# looping through each document matching max_marks for its type
for i in max_marks_per_type:
    x = collection.aggregate([
        {'$unwind':'$scores'}, # decontructing a array field -scores
        {'$match' : {'$and' : [{'scores.type': i['_id']},{'scores.score' : i['max_marks']}]}}]) # querying documents which match the marks and the type from the above result

    for j in x: # printing the students list from each type who has scored the highest 
        print(f"In {j['scores']['type']} , {j['name']} (id : {j['_id']}) has scored the highest mark {j['scores']['score']}")

# 2. Students who scored below average in the exam and pass mark is 40%?

In [ ]:
# getting average marks of the exam
exam_avg = collection.aggregate([                       
                    {'$unwind' : '$scores'},
                    {'$match' : {'scores.type':'exam'}},
                    {'$group' : {'_id':'$scores.type','avg_mark':{'$avg' : '$scores.score'}}}
])
exam_avg = list(exam_avg)[0]['avg_mark']

std_bavg_apass_exam1 = collection.aggregate([
                    {'$unwind' : '$scores'},
                    {'$match' :{'$and' : [{'scores.type':'exam'},{'scores.score' :{'$gte': 40,'$lt': exam_avg}}]}},
                    {'$project' : {'name':1,'scores.score':1}}
])
std_bavg_apass_exam = list(std_bavg_apass_exam1)

In [ ]:
print(f'No. of students who passed and scored below average in exam : {len(std_bavg_apass_exam)}')

In [ ]:
std_bavg_apass_exam

# 3. students who scored below pass mark and assigning them as fail, and above pass mark as pass in all the categories.

1. students who scored below pass mark in each categories
2. students who scored above pass mark in each categories
3. students who are assigned fail (if one or more categories failed)
4. students who are assigned pass (if all the categories are above pass mark)

### 3.1 students who scored below pass mark in each categories

In [ ]:
std_b_pass_exam1 = collection.aggregate([
                        {'$unwind' : '$scores'},
                        {'$match' : {'$and' : [{'scores.type':'exam'},{'scores.score' :{'$lt': 40}}]}},
                        {'$project' :{'_id' : 1}}
])
std_b_pass_quiz1 = collection.aggregate([
                        {'$unwind' : '$scores'},
                        {'$match' : {'$and' : [{'scores.type':'quiz'},{'scores.score' :{'$lt': 40}}]}},
                        {'$project' :{'_id' : 1}}
])
std_b_pass_homework1 = collection.aggregate([
                        {'$unwind' : '$scores'},
                        {'$match' : {'$and' : [{'scores.type':'homework'},{'scores.score' :{'$lt': 40}}]}},
                        {'$project' :{'_id' : 1}}
])
for i in std_b_pass_exam1:
    collection.update_one({'_id':i['_id']},
                    {'$push': {'Results' : {'result_exam':'Fail'}}})
for i in std_b_pass_quiz1:
    collection.update_one({'_id':i['_id']},
                    {'$push': {'Results' : {'result_quiz':'Fail'}}})
for i in std_b_pass_homework1:
    collection.update_one({'_id':i['_id']},
                    {'$push': {'Results' : {'result_homework':'Fail'}}})

### 3.2. students who scored above pass mark in each categories

In [ ]:
std_a_pass_exam = collection.aggregate([
                    {'$unwind' : '$scores'},
                    {'$match' :{'$and' : [{'scores.type':'exam'},{'scores.score' :{'$gte': 40}}]}},
                    {'$project' : {'name':1}}])
std_a_pass_quiz = collection.aggregate([
                        {'$unwind' : '$scores'},
                        {'$match' : {'$and' : [{'scores.type':'quiz'},{'scores.score' :{'$gte': 40}}]}},
                        {'$project' :{'name' : 1}}
                    ])
std_a_pass_homework = collection.aggregate([
                        {'$unwind' : '$scores'},
                        {'$match' : {'$and' : [{'scores.type':'homework'},{'scores.score' :{'$gte': 40}}]}},
                        {'$project' :{'name' : 1}}
])
for i in std_a_pass_exam:
    collection.update_one({'_id':i['_id']},
                     {'$push': {'Results' : {'result_exam':'Pass'}}})
for i in std_a_pass_quiz:
    collection.update_one({'_id':i['_id']},
                     {'$push': {'Results':{'result_quiz':'Pass'}}})
for i in std_a_pass_homework:
    collection.update_one({'_id':i['_id']},
                     {'$push': {'Results':{'result_homework':'Pass'}}})

### 3.3. students who are assigned fail (if one or many of the categories failed)

In [9]:
std_failed1 = collection.aggregate([
                    {'$unwind': '$scores'},
                    {'$match' :{'scores.score' :{'$lt': 40}}},
                    {'$group' : {'_id': '$_id','count' : {'$sum':1}}},
])
for i in std_failed1:
    collection.update_one(
                     {'_id': i['_id']},
                     {'$unset': {'overall_result': 'Fail'}}
    )

NameError: name 'collection' is not defined

### 3.4. students who are assigned pass (if all the categories are above pass mark)

In [ ]:
std_passed1 = collection.aggregate([
                    {'$unwind': '$scores'},
                    {'$match' :{'scores.score' :{'$gte': 40}}},
                    {'$group' : {'_id': '$_id','count' : {'$sum':1}}}
])
for i in std_passed1:
    if i['count'] == 3:
        collection.update_one(
            {'_id' : i['_id']},
            {'$set': {'overall_result':'Pass'}}
    )

# 4. The total and average of the exam, quiz and homework and store them in a separate collection

1. finding the total and average of the exam ,quiz,homework for each students and storing them in a new collection
2. finding the total and average of the exam ,quiz,homework and storing them in a new collection

### 4.1. finding the total and average of the exam ,quiz,homework for each students and storing them in a new collection

In [ ]:
std_avg_total = collection.aggregate([
                {'$unwind': '$scores'},
                {'$group' :
                     {'_id' : {'_id': '$_id','name':'$name'}, 
                     'scores': {'$push' : '$scores'},
                     'avg': {'$avg' : '$scores.score'},
                     'total' : {'$sum':'$scores.score'}}},
                {'$project':{'_id':1,'name':1,'avg':1,'total':1}},
                {'$sort': {'_id':1}},
])
std_list_avg_total = list(std_avg_total)

In [ ]:
db['students_avg_total'].insert_many(std_list_avg_total)

### 4.2. finding the total and average of the exam ,quiz,homework and storing them in a new collection

In [ ]:
type_avg_total = collection.aggregate([
                    {'$unwind': '$scores'},
                    {'$group': 
                             {'_id' : '$scores.type',
                             'total':{'$sum':'$scores.score'},
                             'avg' :{'$avg':'$scores.score'}}
                    },
                    {'$sort':{'_id':1}}
])
list_type_avg_total = list(type_avg_total)

In [ ]:
db['type_avg_total'].insert_many(list_type_avg_total)

# 5.  Create a new collection which consists of students who scored below average and above 40% in all the categories.

In [ ]:
1. finding students who scored below average and above 40 % in all the categories
2. finding students who scored below average and above 40% for each categories

In [1]:
# getting avg for each categories
avg_exam = list_type_avg_total[0]['avg']
avg_quiz = list_type_avg_total[2]['avg']
avg_homework = list_type_avg_total[1]['avg']
print(f'avg_quiz : {avg_quiz}\navg_homework : {avg_homework}\navg_exam : {avg_exam}')

SyntaxError: invalid syntax (3476035170.py, line 1)

### 5.1 finding students who scored below average and above 40 % in all the categories

In [ ]:
bavg_apass_all1 = collection.aggregate([
                            {'$unwind': '$scores'},
                            {'$match': 
                             {'$and': [
                                   {'$and': [{'scores.type':'exam'},
                                             {'scores.score':{'$lt':avg_exam,'$gte' :40}}]},
                                    
                                   {'$and': [{'scores.type':'quiz'},
                                             {'scores.score':{'$lt':avg_quiz,'$gte' :40}}]},
                                    
                                   {'$and': [{'scores.type':'homework'},
                                             {'scores.score':{'$lt':avg_homework,'$gte' :40}}]}
                                ]}
                                },
                        {'$group': {'_id':'$_id','count':{'$sum':1}}}
])
bavg_apass_all = list(bavg_apass_all1)
# print(len(bavg_apass_all))
# since there is no one matchs the condition for all the categories the data is zero and can't create a collection

### 5.2 finding students who scored below average and above 40% for each categories

In [ ]:
bavg_apass_any1 = collection.aggregate([
                            {'$unwind': '$scores'},
                            {'$match': 
                             {'$or': [
                                   {'$and': [{'scores.type':'exam'},
                                             {'scores.score':{'$lt':avg_exam,'$gte' :40}}]},
                                    
                                   {'$and': [{'scores.type':'quiz'},
                                             {'scores.score':{'$lt':avg_quiz,'$gte' :40}}]},
                                    
                                   {'$and': [{'scores.type':'homework'},
                                             {'scores.score':{'$lt':avg_homework,'$gte' :40}}]}
                                ]}
                                },
])
bavg_apass_any = list(bavg_apass_any1)
# print(len(bavg_apass_any))

In [ ]:
std_bavg_apass = db['std_bavg_apass']

In [ ]:
bavg_apass_any_ids = collection.aggregate([
                            {'$unwind': '$scores'},
                            {'$match': 
                             {'$or': [
                                   {'$and': [{'scores.type':'exam'},
                                             {'scores.score':{'$lt':avg_exam,'$gte' :40}}]},
                                    
                                   {'$and': [{'scores.type':'quiz'},
                                             {'scores.score':{'$lt':avg_quiz,'$gte' :40}}]},
                                    
                                   {'$and': [{'scores.type':'homework'},
                                             {'scores.score':{'$lt':avg_homework,'$gte' :40}}]}
                                ]}
                                },
                        {'$group': {'_id':'$_id'}}
])
ids_bavg_apass = list(bavg_apass_any_ids)

In [ ]:
# creating a collection using ids
std_bavg_apass.insert_many(ids_bavg_apass)

In [ ]:
# updating the documents of the ids present with name and type of the category satisfied
for i in bavg_apass_any:
    name = i['name']
    type_1 = i['scores']['type']
    std_bavg_apass.update_one({'_id':i['_id']},
                           {'$set': {'name':name}})
    std_bavg_apass.update_one({'_id':i['_id']},
                           {'$push': {'apass_bavg':{'type':type_1}}})

# 6. Create a new collection which consists of students who scored below the fail mark in all the categories.

In [ ]:
1. creating a collection in which students failed in any categories
2. creating a collection in which students passed in all

### 6.1. creating a collection in which students failed in any categories

In [ ]:
std_failed1 = collection.aggregate([
                    {'$unwind': '$scores'},
                    {'$match' :{'scores.score' :{'$lt': 40}}},
])

In [ ]:
std_fail_any = db['std_fail_any']

In [ ]:
std_failed_ids = collection.aggregate([
                            {'$unwind': '$scores'},
                            {'$match' :{'scores.score' :{'$lt': 40}}},
                            {'$group': {'_id':'$_id'}}
])
ids_std_failed = list(std_failed_ids)
# creating a collection using _
std_fail_any.insert_many(ids_std_failed)

In [ ]:
for i in std_failed1:
    name = i['name']
    type_1 = i['scores']['type']
    std_fail_any.update_one({'_id':i['_id']},
                           {'$set': {'name':name}})
    std_fail_any.update_one({'_id':i['_id']},
                           {'$push': {'Failed type(s)':{'type':type_1}}})

### 6.2. creating a collection in which students passed in all

In [ ]:
std_pass_any_ids = collection.aggregate([
                    {'$unwind': '$scores'},
                    {'$match' :{'scores.score':{'$gte': 40}}},
                    {'$group' :{'_id':{'_id':'$_id','name':'$name'},'count':{'$sum':1}}},
])
ids_std_pass_list = list(std_pass_any_ids)
print(len(ids_std_pass_list))
print(ids_std_pass_list)

In [ ]:
std_allpass = db['std_allpass']

In [ ]:
for i in ids_std_pass_list:
   if i['count'] == 3:
        firstpair = i['_id']
        id1 = firstpair['_id']
        name = firstpair['name']
        std_allpass.insert_one({'_id':id1,'name':name})